.Resume {
    margin: 0px auto;
    padding-bottom: 20px;
    background-color: #F9F9F1;
    box-sizing: border-box;
    width: 1000px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.637);
    /* transition: transform 0.3s; */
}
.Header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: space-between;
    height: fit-content;
    margin: 20px auto;
}
