.Card {
    background-color: #68c6db;
    font-weight: bold; 
    /* background-color: #639A88; */
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    min-width: 300px;
    max-height: 100%;
    padding: 20px;
    padding-bottom: 6px;
    border-bottom: 2px solid hsla(0, 0%, 0%, 0.527);
}

.Card h2 {
    margin: 0px auto;
    padding: 3px;
    width: fit-content;
    height: fit-content;
    border-bottom: 2px solid black;
}
.Card h3, p {
    margin: 6px auto;
    width: fit-content;
}
.Card text {
    margin: 10px auto;
    padding: 3px;
    width: fit-content;
    height: fit-content;
}
